:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #bf9371;
  --second-brand-color: #d4bbab;
  --third-brand-color: #e9e4dc;

  --main-font:  'Roboto Slab';
  --title-font:  'Roboto Slab Bold';
  --main-title-font: 'Italiana';

  font-size: 62.5%;
}
